@{
    ViewBag.Title = "Contact";
}

<body style="background-color:beige">
    <h2>@ViewBag.Title.</h2>

    <address>
        Моша Пијаде 9 Битола<br />
    </address>

    <address>
        <strong>Contact us as:</strong> <br /> 
        <a href="info@mypetshop.com">info@mypetshop.com</a><br />
        <p>Phone number: 076/386-333</p>
    </address>
</body>